Sprint 2.json
{
  "name": "Sprint 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3413354e-37c9-4dd0-bf35-ab2431e0c197",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        96
      ],
      "id": "691ffe6e-faa6-4f59-bb79-bfd90eae1d85",
      "name": "Webhook",
      "webhookId": "3413354e-37c9-4dd0-bf35-ab2431e0c197"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0eac5a0e-a405-438d-906a-0a993049f644",
              "leftValue": "={{ $('MySQL_Verificar_Alumno').first().json.rut_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        96
      ],
      "id": "2f27732d-f699-4df0-81a5-a119e4f00cd6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM alumnos\nWHERE rut_id = '{{ $json.body.rut_id }}'\nAND carrera = '{{ $json.body.carrera }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -416,
        96
      ],
      "id": "77259523-007f-49cd-88f1-b931f4c6a2a1",
      "name": "MySQL_Verificar_Alumno",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "K8ScuZLKps67UK3c",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM malla_curricular\nWHERE carrera = '{{ $('Webhook').first().json.body.carrera }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "7a8ff5ff-0552-4e4b-ac06-4539b2b332a9",
      "name": "MySQL_Get_Malla",
      "credentials": {
        "mySql": {
          "id": "K8ScuZLKps67UK3c",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Alumno no encontrado. Verifique el RUT o la carrera ingresada.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        192
      ],
      "id": "7d032b0a-6ace-49e2-b0ef-142906fb3b35",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. CONFIGURACIÓN\n// ---\nconst MAX_CREDITOS_SUGERIDOS = 40; \n\n// 2. OBTENER DATOS DE ENTRADA\n// ---\nconst mallaCompleta = $('MySQL_Get_Malla').all();\nconst alumno = $('Webhook').first().json.body;\n\nconst aprobadas = alumno.asignaturas_aprobadas || [];\nconst enCurso = alumno.asignaturas_en_curso || [];\nconst semestreActual = alumno.semestre_actual;\n\n\n// 3. LISTAS PARA CLASIFICAR\n// ---\nlet asignaturas_disponibles = [];\nlet asignaturas_bloqueadas = [];\n// Nota: Ya no necesitamos la variable intermedia 'asignaturas_criticas' aquí,\n// porque la generaremos con el algoritmo inteligente más abajo.\n\n\n// 4. PROCESAR CADA CURSO DE LA MALLA\n// ---\nfor (const item of mallaCompleta) {\n  const curso = item.json; \n  const codigo = curso.codigo_asignatura;\n\n  if (aprobadas.includes(codigo) || enCurso.includes(codigo)) {\n    continue; \n  }\n\n  let cumplePrerrequisitos = true; \n  let faltantes = []; \n\n  if (curso.prerrequisitos) {\n    const listaReqs = curso.prerrequisitos.split(',');\n    for (const req of listaReqs) {\n      if (!aprobadas.includes(req)) {\n        cumplePrerrequisitos = false;\n        faltantes.push(req);\n      }\n    }\n  }\n\n  if (cumplePrerrequisitos) {\n    asignaturas_disponibles.push(curso);\n    // Eliminamos la clasificación antigua de \"críticas\" aquí\n  } else {\n    curso.prerrequisitos_faltantes = faltantes.join(','); \n    asignaturas_bloqueadas.push(curso);\n  }\n}\n\n\n// 5. LÓGICA INTELIGENTE (Ahora define las \"Asignaturas Críticas\")\n// ---\nasignaturas_disponibles.sort((a, b) => a.semestre_recomendado - b.semestre_recomendado);\n\nlet creditos_acumulados = 0;\nlet ramos_inteligentes = []; // Esta será tu nueva lista \"Crítica\"\nlet detalle_cantidad = {\n    atrasados: 0,\n    del_nivel: 0,\n    adelantados: 0\n};\n\nfor (const curso of asignaturas_disponibles) {\n    const creditosCurso = parseInt(curso.creditos || 0); \n    const semCurso = parseInt(curso.semestre_recomendado);\n\n    if (creditos_acumulados + creditosCurso <= MAX_CREDITOS_SUGERIDOS) {\n        ramos_inteligentes.push(curso);\n        creditos_acumulados += creditosCurso;\n\n        if (semCurso < semestreActual) detalle_cantidad.atrasados++;\n        else if (semCurso == semestreActual) detalle_cantidad.del_nivel++;\n        else detalle_cantidad.adelantados++;\n    }\n}\n\nlet mensaje_cantidad = `Se sugiere inscribir ${ramos_inteligentes.length} asignaturas.`;\nif (detalle_cantidad.atrasados > 0) {\n    mensaje_cantidad += ` (Prioridad: ${detalle_cantidad.atrasados} pendientes de semestres anteriores).`;\n} else if (detalle_cantidad.del_nivel > 0 && detalle_cantidad.adelantados === 0) {\n    mensaje_cantidad += ` (Carga estándar de tu semestre).`;\n}\n\n\n// 6. DETERMINAR ESTADO Y CONSEJO\n// ---\nlet estado_alumno = \"Al día\"; \nlet consejo_coordinador = null; \n\nconst bloqueosCriticos = asignaturas_bloqueadas.filter(curso => \n    curso.semestre_recomendado <= semestreActual\n);\n\nif (bloqueosCriticos.length > 0) {\n    estado_alumno = \"Atrasado (Riesgo Académico)\";\n    const nombresBloqueados = bloqueosCriticos.map(c => c.nombre_asignatura).join(\", \");\n    consejo_coordinador = `⚠️ ATENCIÓN: Tienes asignaturas de tu nivel (${nombresBloqueados}) bloqueadas por prerrequisitos. Te sugerimos contactar a tu Coordinador Académico.`;\n}\n\n\n// 7. DEVOLVER EL REPORTE FINAL\n// ---\nreturn [{\n  reporte: {\n    alumno: alumno.nombre,\n    semestre_objetivo: semestreActual,\n    estado_alumno: estado_alumno,\n    consejo_coordinador: consejo_coordinador,\n    \n    mensaje_sugerencia_cantidad: mensaje_cantidad,\n    cantidad_ramos_sugeridos: ramos_inteligentes.length,\n    desglose_sugerencia: detalle_cantidad,\n    creditos_sugeridos: creditos_acumulados,\n    \n    // --- CAMBIO AQUÍ: Reemplazo de listas ---\n    // Usamos la lista inteligente como la lista \"Crítica\" oficial\n    asignaturas_criticas: ramos_inteligentes, \n    \n    // Mantenemos disponibles (todo lo que PODRÍA tomar)\n    asignaturas_disponibles: asignaturas_disponibles, \n    \n    // Mantenemos bloqueadas\n    asignaturas_bloqueadas: asignaturas_bloqueadas,\n    // ---------------------------------------\n    \n    todas_las_asignaturas: mallaCompleta.map(item => item.json) \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "4de5ee74-5332-4981-bc59-1d272f540a68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "de015e2c-b62f-4e22-a40d-307997a90eab",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL_Verificar_Alumno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL_Verificar_Alumno": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MySQL_Get_Malla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL_Get_Malla": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24993ca8-a4a1-4b40-a9c0-f7128d4bdb2c",
  "meta": {
    "instanceId": "95a180cf21d5483bf8dac3b8fdfb0894e2ec8ef66ed52c8bdc9983cca6c901b0"
  },
  "id": "74BV31hhQQ5NlSQJ",
  "tags": []
}